.footer-wrap{
    display: flex;
    flex-direction: column;
    padding: 30px 65px;
        .footer-logo{
            align-self: center;
        }
        .bottom-info{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
                a{
                    font-size: 18px;
                    color:rgba(255,255,255,1);
                    transition: 0.3s ease-in-out;
                    text-decoration: none;
                    width: 25%;
                        &:hover{
                            color: #fff;
                        }
                }
                p{
                    font-size: 18px;
                    color:rgba(255,255,255,1);
                    text-align: center;
                    width: 50%;
                }
        }
}